header {
  color: aliceblue;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  margin-top: 20px;
}
nav{
  display: flex;
  margin-left: 10px;
  align-items: center;
  border-bottom: 0.5px solid grey;
}
nav a {
  margin-left: 10px;
}

